@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
--bg-color: #052d40;
--text-color: #54515b; 
--accent-color: #8a6d2c;
}
*{
    box-sizing: border-box;
}
body{
   font-family: "Roboto", sans-serif;
   font-size: 40px;
   font-weight: 400;
   background: var(--bg-color) ;
   color: var(--text-color);
}
a{
    color: var(--text-color);
    text-decoration: none;
}
a:hover {
    color: var(--accent-color);
}
h1 {
font-size: 90px;
font-weight: 600;
line-height: 100px;
}
h2 {
font-size: 70px;
font-weight: 800;
line-height: 80px;
}
.accent-color{
    color: var(--accent-color);
}
.header__navigation{
    padding: 64px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 3px;
}
nav{
    display: flex;
    gap: 27px;
}
.header__account{
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.header__hero{
    max-width: 950px;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}



.pre-header{
   letter-spacing: 6px; 
   text-transform: uppercase;
   font-weight: 900;
color: var(--accent-color);
display: flex;
gap: 32px;
align-items: center;
}
.pre-line{
    display: inline-block;
width: 72px;
height: 8px;
background: var(--accent-color);
}

.header__social{
    position: absolute;
    top: 360px;
    left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}
.header__social span{

 writing-mode: vertical-lr;}

 header{
    height: 900px;
    background: linear-gradient(#0000 65%, var(--bg-color))
     ,url(../images/fon.png);
    background-size: cover;
    background-position: center top;
 }

 .step1{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
 }
 .step1__1__header{
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 56px;
 }